*{
    margin:0;
}


#topImage,#bottomImage{
    position: absolute;
    top:0;
    left:0;
    transform: translateY(0px);
    width:100%;
    height:100%;
    z-index: 4;
}


#characterElements>img{
    position: absolute;
    left:0;
    transform: translateY(0px);
    width:100%;
    z-index: 2;
}

#characterName{
    position: absolute;
    top: 8.3%;
    left: 13%;
    z-index: 2;
    width: 71.5%;
    height: 3%;
    background: transparent none repeat scroll 0% 0%;
    border: none;
    color: white;
    font-size: 3vh;
}

#topClassButton, #topClassButtonUnder{
    top: 12%;
}

#middleClassButton, #middleClassButtonUnder{
    top: 30.3%;
}

#bottomClassButton, #bottomClassButtonUnder{
    top: 48%;
}

#topClassButtonUnder,#middleClassButtonUnder,#bottomClassButtonUnder{
    z-index: 1 !important;
}

#goButton{
    top: 67%;
}

#topImageUnder,#bottomImageUnder{
    position: absolute;
    top:0;
    left:0;
    transform: translateY(0px);
    width:100%;
    height:100%;
    z-index: 0;
}

#dragoonText,#soldierText,#energistText{
    z-index: 3;
    transform: translateX(50%);
    color: white;
    font-size: 5vh;
    left: 13%;
    position: relative;
    top: 25%;
}

#dragoonTextDiv{
    top: 13%;
    width: 100%;
    height: 16%;
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

#soldierTextDiv{
    top: 49%;
    width: 100%;
    height: 17%;
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

#energistTextDiv{
    top: 31%;
    width: 100%;
    height: 16%;
    position: absolute;
    z-index: 3;
    pointer-events: none;
}


.transitionProperties1{
    transition-property: transform;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.transitionProperties2{
    transition-property: transform;
    transition-delay: 0s;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

.transitionProperties3{
    transition-property: transform;
    transition-delay: 0s;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.transitionProperties4{
    transition-property: transform;
    transition-delay: 0s;
    transition-duration: 2.5s;
    transition-timing-function: ease-in;
}

#frameImage{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 5;
    pointer-events: none;
}

#gameMainDiv{
    position: absolute;
    width: 86%;
    height: 94%;
    z-index: -1;
    background: purple;
    border: solid black;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-27%);
    opacity: 0;

    transition-property: transform, opacity;
    transition-delay: 1s;
    transition-duration: 2s;
    transition-timing-function: linear;
}

#mainDiv{

    width: 100vw;
    height: 177vw; /* 16 * 100vw / 9;*/
    max-width: 56.25vh; /*9 / 16 * 100vh;*/
    max-height: 100vh;

    margin-left: 50%;
    transform: translateX(-50%);

    position: relative;
    display: block;
    overflow: hidden;
}

body{
    background: #32312D;
    overflow: hidden;
}