*{
    margin:0;
}


#topImage,#bottomImage{
    position: absolute;
    top:0;
    left:0;
    transform: translateY(0px);
    width:100%;
    height:100%;
    z-index: 3;
}

#charElements{
    position: absolute;
    left: 13%;
    width: 74%;
    z-index: 2;
    top: 8%;
    height: 84%;
}

#topImageUnder,#bottomImageUnder{
    position: absolute;
    top:0;
    left:0;
    transform: translateY(0px);
    width:100%;
    height:100%;
    z-index: 1;

}

.transitionProperties1{
    transition-property: transform;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.transitionProperties2{
    transition-property: transform;
    transition-delay: 0s;
    transition-duration: 3s;
    transition-timing-function: ease-in;
}

#frameImage{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .9;
    z-index: 4;
    pointer-events: none;

}

#gameMainDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: blue;
}

#mainDiv{

    width: 100vw;
    height: 177vw; /* 16 * 100vw / 9;*/
    max-width: 56.25vh; /*9 / 16 * 100vh;*/
    max-height: 100vh;

    margin-left: 50%;
    transform: translateX(-50%);

    position: relative;
    display: block;
    overflow: hidden;


}

body{
    background: #32312D;
    linear-gradient(to right, #32312D 0%,#262524 100%)

    overflow: hidden;
}