/*Transition*/

#img1
{
    width: 300px;
    height: 300px;
    transition: width 2s, height 2s, transform 2s;
}

#img1:hover 
{
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
}

#img2
{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 400px;
    top: 70px;
    transition-property: width height left top;
    transition-duration: 3s;
    transition-timing-function: ease;
}

#img3
{
    top: 0px;
    position: relative;
    width: 300px;
    height: 300px;
    transition: width .2s ease, height 1s ease, top 1s ease;
}

#firstBox
{
    background: blue;
    width: 200px;
    height: 200px;
/*
    nasty path
    you will need all three arugements in the animation tag in order for it to work
*/
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0%   {background-color: red}
    25%  {background-color: yellow}
    50%  {background-color: blue}
    100% {background-color: green}
}

#secondBox
{
    background: red;
    width: 200px;
    height: 200px;
    animation-play-state: paused;
    animation-name: moveRightTwist;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes moveRightTwist {
    0%   {}
    45%  {transform: translate(400px, 0px) rotate(360deg)}
    60%  {transform: rotate(360deg)}
    100% {transform: translate(0px,0px)}
}

#thirdBox
{
    background: orange;
    width: 200px;
    height: 200px;
    animation: skewMuch 5s infinite;
    animation-play-state: paused;  /*kinda a nasty path but you need this after animtion for it to be paused*/
}

@keyframes skewMuch {
    0%   {}
    25%  {transform: skew(15deg, 5deg)}
    50%  {transform: skew(.2deg, 50deg)}
    75%  {transform: skew(100deg, 2deg)}
    100% {transform: skew(0deg, 0deg)}
}