body, html{
    
/*    height: 100%;*/
    background-color: darkolivegreen;
    margin: 0;
    animation-name: toShader;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-duration: .5s;
}

#content{
    height: 100%;
}

video{
    display: none;
    height: 0;
    background-color: white;
    width: 94%;
    border-style: solid;
    border-radius: 500px;
    border-width: 10px;
    padding: 0px;
    margin: 0px 20px;  
}

header{
    text-align: center;
    padding: 20px;
    font-size: 600%;
    color: aliceblue;
}

main{
    padding-right: 30px;
    padding-left: 30px;
    font-size: 500%;
    color: aliceblue;
    width: 94%;
    margin: 0;
}

#quest1{
    padding-top: 50px;
    padding-bottom: 10%;
}

input, select{
    height: 50%;
    width: 70%;
    font-size: 200%;
}

option{
    font-size: 30%;
}

footer{
    padding: 0px 30px;
    color: aliceblue;
    padding-top: 200px;
    font-size: 600%;
}

button{
    font-size: 200%;
    width: 100%;
    height: 100%;
}

@keyframes toShader{
    0%    {background-color: darkolivegreen}
    100%  {background-color: rgb(23, 33, 9)}
}

@keyframes fromShader {
    0%    {background-color: rgb(23, 33, 9)}
    100%  {background-color: darkolivegreen}
}